<section class="container">
  <nav class="content">
    <ul data-test-nav>
      <li routerLinkActive="active"><a routerLink="/" ariaCurrentWhenActive="page">Home Page</a></li>
      <li routerLinkActive="active"><a routerLink="/form/tab1" ariaCurrentWhenActive="page">Form</a></li>
    </ul>

    <ul data-test-storage>
      <li><a href="?storage-type=local-storage">Use Local Storage</a></li>
      <li><a href="?storage-type=cookie">Use Cookie Storage</a></li>
    </ul>
  </nav>
</section>

<router-outlet />
