<main class="container">
  <p class="content">
    <button
      data-test-button="save"
      (click)="saveState()"
      [disabled]="!!loading() || isOnSavedState()"
    >Save</button>
    @if (loading()) {
      Proccesing...
    }
    <button (click)="refreshJokes()" [disabled]="jokesLoading$ | async">Refresh Jokes</button>
  </p>

  <p class="content" *ngIf="messages.get().length">
    @for (msg of messages.get(); track msg.id) {
  <div class="message">
    <span class="type">{{ msg.type }}: </span>
    <span class="text">{{ msg.text }}</span>
    <button type="button" title="Remove" (click)="messages.remove($index)">X</button>
  </div>
  }
  </p>

  @let tab = selectedTab$ | async;

  <nav class="nav-tabs">
    <a data-test-button="tab1" routerLink="/form/tab1" [class.disabled]="!!loading()" [class.active]="tab === 'tab1'">
      Tab 1
    </a>

    <a data-test-button="tab3" routerLink="/form/tab2" [class.disabled]="!!loading()" [class.active]="tab === 'tab2'">
      Tab 2
    </a>
  </nav>

  <section class="content" [class.disabled]="!!loading()">
    <app-tab1
      *ngIf="tab === 'tab1'"
      [disabled]="!!loading()"
      [prefill]="currentState().tab1"
      (valueChange)="updateState(['tab1', $event])"
    />

    <app-tab2
      *ngIf="tab === 'tab2'"
      [disabled]="!!loading()"
      [prefill]="currentState().tab2"
      (valueChange)="updateState(['tab2', $event])"
    />
  </section>
</main>
