<main class="container">

  <p class="content">
    <button (click)="save()" [disabled]="!!this.loading">Save</button>
    @if (loading) {
      Proccesing...
    }
  </p>

  <p class="content" *ngIf="messages.get().length">
  @for (msg of messages.get(); track msg.id) {
    <div class="message">
      <span class="type">{{ msg.type }}: </span>
      <span class="text">{{ msg.text }}</span>
      <button type="button" title="Remove" (click)="messages.remove($index)">X</button>
    </div>
    }
  </p>

  @let tab = selectedTab$ | async;

  <nav>
    <a routerLink="/form/tab1" [class.active]="tab === 'tab1'">
      <button type="button">Tab 1</button>
    </a>

    <a routerLink="/form/tab2" [class.active]="tab === 'tab2'">
      <button type="button">Tab 2</button>
    </a>
  </nav>

  <section class="content" [class.disabled]="!!this.loading">
    <app-tab1
      *ngIf="tab === 'tab1'"
      [disabled]="!!this.loading"
      [prefill]="currentState.tab1"
      (valueChange)="updateState(['tab1', $event])"
    />

    <app-tab2
      *ngIf="tab === 'tab2'"
      [disabled]="!!this.loading"
      [prefill]="currentState.tab2"
      (valueChange)="updateState(['tab2', $event])"
    />
  </section>
</main>
