@import './variables.scss';
@import './normalize.css';

html, body {
  min-height: 100%;
}

body {
  background-color: $color-main-background;
  background: no-repeat linear-gradient(132deg, #7db9fc 10%, #e6e6fa 92%);
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.content {
  margin: .5rem;
  padding: .75rem;
  border: solid 1px $color-separator;
  background-color: $color-content-background;
}

.message {
  display: flex;
  justify-content: center;
  gap: .5rem;
  span {
    text-transform: capitalize;
  }
  .text {
    flex: 1;
  }
}

.disabled,
[disabled] {
  opacity: .55;
}

fieldset {
  border: none;
}

a {
  color: #0062cc;
}

button {
  background-color: #007bff;
  border: solid 1px #007bff;
  border-radius: 3px;
  color: #fff;

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
}
